{% extends "base.html" %}
{% load i18n %}

{% block content %}
        {% if weather_object %}
        <a href="javascript:history.go(-1)">Back</a>
        <div class="card snow">
            <h2 class="ml-auto mr-4 mt-3 mb-0">{{ weather_object.name }}</h2>
            <p class="ml-auto mr-4 mb-0 med-font">{{ weather_object.description | title }}</p>
            <h1 class="ml-auto mr-4 large-font">{{ weather_object.temperature }}&#176;C</h1>

            <h5 class="ml-auto mr-4 xl-sm-font"><span>{% trans "Maximum Temperature" %}:</span>{{ weather_object.max_temp }}&#176; {% trans 'C' %}</h5>
            <h5 class="ml-auto mr-4 xl-sm-font"><span>{% trans "Minimum Temperature" %}:</span>{{ weather_object.min_temp }}&#176; {% trans 'C' %}</h5>

            <p class="mb-0 ml-4 mt-auto med-font"> <i class="fas fa-wind"></i>
                 {{weather_object.wind_speed}} {{ weather_object.direction | title}} </p>
            <p class="sm-font ml-4 mb-2"><span>{% trans "Humidity" %}:</span>{{ weather_object.humidity }}&nbsp;%</p>
            <p class="xl-sm-font ml-4 mb-2"><span>{% trans "Pressure" %}:</span>{{ weather_object.pressure }}&nbsp;{% trans 'hPa' %}</p>
        </div>
        {% endif %}
{% endblock %}